#album_plate{
    display: inline-block;
    padding:0px;
    width:300px;
}

#album_container{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
.panel-info{
    margin:0;
    padding:0;
}