#map-canvas {
    width:480px;
    height:370px;
    position:inherit;
}
#map-container{
    padding-top: 0;
    padding-right:10px;
    padding-left:10px;
}
#map-panel{
    margin-top: 10px;
    padding-left: 0;
    padding-right: 0;
}